.progress-bar {
	background-color: orange !important;
}

img {
	width: 68%;
	height: auto;
	margin: auto;
	display: block;
}

body {
	font-size: 0.8rem;
}

.bg-black {
	background: rgb(0,0,0);
}

.skill-block {
	width: 30%;
}

body {
	background-color: #ffffff;
}

li {
	margin: 1.5em;
}

a {
	text-decoration: none;
}

li A:link {
	COLOR: rgb(4, 116, 120);
	TEXT-DECORATION: none;
	font-weight: normal
}

li A:visited {
	COLOR: rgb(13, 158, 210);
	TEXT-DECORATION: none;
	font-weight: normal
}

li A:active {
	COLOR: rgb(19, 181, 217);
	TEXT-DECORATION: none
}

li A:hover {
	COLOR: blue;
	TEXT-DECORATION: none;
	font-weight: none
}

li a[href^="https://"]::after {
	content: "";
	width: 11px;
	height: 11px;
	margin-left: 4px;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M8.636 3.5a.5.5 0 0 0-.5-.5H1.5A1.5 1.5 0 0 0 0 4.5v10A1.5 1.5 0 0 0 1.5 16h10a1.5 1.5 0 0 0 1.5-1.5V7.864a.5.5 0 0 0-1 0V14.5a.5.5 0 0 1-.5.5h-10a.5.5 0 0 1-.5-.5v-10a.5.5 0 0 1 .5-.5h6.636a.5.5 0 0 0 .5-.5z'/%3E%3Cpath fill-rule='evenodd' d='M16 .5a.5.5 0 0 0-.5-.5h-5a.5.5 0 0 0 0 1h3.793L6.146 9.146a.5.5 0 1 0 .708.708L15 1.707V5.5a.5.5 0 0 0 1 0v-5z'/%3E%3C/svg%3E");
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	display: inline-block;
}

.project {
	width: 300px;
	height: 300px;
	overflow: hidden;
	margin: 0 auto;
}

.project img {
	width: 100%;
	transition: 0.5s all ease-in-out;
}

.project:hover img {
	transform: scale(1.5);
}
