h1 {
    text-align: center;
   }

body {
	font-family: "Times New Roman", Times, serif;
	background-color: rgb(255, 102, 0);
}

#game-board {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  
.letter-box {
    border: 2px solid rgb(3, 45, 71);
    border-radius: 3px;
    margin: 2px;
    font-size: 2.5rem;
    font-weight: 700;
    height: 3rem;
    width: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
  }
  
.filled-box {
    border: 2px solid black;
  }
  
.letter-row {
    display: flex;
  }

  
.second-row {
    margin: 0.5rem 0;
  }